.main-content
  .search__box
    %input{placeholder:"search your name"}
  %p 退室中
  .students__listbox
    .f-container 
      -@students.each do |s|
        .f-block 
          .f-image
            = image_tag "#{s.image}", class: "student_image"
          .f-name
            = s.name


    .f-container
   
%footer
  %p copyright: Ramuneru.inc