.wrapper
  .header
    .title
      Room-inous
    .button#admin-img
      -# = link_to image_tag("room.png", alt: "admin-image", id="admin-img"), 'https://google.com'
      =link_to 'https://google.com'do
        =image_tag 'room.png',class: 'admin-img' 
  .main-content
    .buttons
      .button
        .button__enter
        
      .button
        .button__exit
        


          
            
  %footer
    %p copyright: Ramuneru.inc