.wrapper
  .header
    .title
      TEC-English
    .button#admin-img
      =link_to 'https://google.com'do
        =image_tag 'room.png',class: 'admin-img' 
  .main-content
    .buttons
      .button
        =link_to 'https://google.com', class: "btn" do
          .button__enter
            in

      .button
        =link_to 'https://google.com', class: "btn" do
          .button__exit
            out
        


          
            
  %footer
    %p copyright: Ramuneru.inc