 /* === ボタンを表示するエリア ============================== */
 .sample7Area {
  margin         : auto;                /* 中央寄せ           */
  width          : 70px;                /* ボタンの横幅       */
}
 
 /* === チェックボックス ==================================== */
.sample7Area input[type="checkbox"] {
  display        : none;            /* チェックボックス非表示 */
}
 
 /* === チェックボックスのラベル（標準） ==================== */
.sample7Area label {
  display        : block;               /* ボックス要素に変更 */
  box-sizing     : border-box;          /* 枠線を含んだサイズ */
  border         : 2px solid #aaa;      /* 枠線(一旦四方向)   */
  border-radius  : 35px;                /* 角丸               */
  height         : 70px;                /* ボタンの高さ       */
  background     : #bbb;                /* 背景               */
  transition     : .5s;                 /* 滑らか変化         */
}
 
 /* === チェックボックスのラベル（ONの時） ================== */
.sample7Area #sample7check:checked + label {
  background     : #78bd78;             /* 背景色             */
}
 
 /* === ラベル内の画像（標準） ============================== */
.sample7Area label img{
  display        : block;               /* ブロック化         */
  margin         : 6px auto auto auto;  /* 上は6pxで中央寄せ  */
}