* { 
  box-sizing: border-box;
}

.main-content {
  background-image: url("whale.jpg");
  background-size: cover;
	width: 100%;
  height: calc(100vh - 110px);
  padding: 60px;     
}

.students-condition{
  color: white;
  margin: 0 auto;
}
input {
  margin: 0 auto;
  width: 50%; 
}
.students__listbox{
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.92);
  margin-top: 10px;
}

#drag_area, #drop_area {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
  height: auto;
  border-left: 0.5px solid grey;
  .f-block{
    border: 1px solid grey;
    width: 80px;
    height: 100px;
    position: relative;
    .f-image{
      height: 80px;
      cursor: pointer;
      .student_image{
        width: 100%;
        height: 80px;
        &:hover{
          opacity: 0.6;
        }
      }
    }
    .f-name{ 
      font-family: 'Courier New';
      font-weight: bold;
      font-size: 1rem;
      color: black;
      padding-left: 5px;
    }
  }
}



footer {
	width: 100%;
	height: 40px;
	background-color: lightgrey;
  p {
    size: 0.75rem;
    color: grey;
    text-align: right;
    line-height: 40px;
    padding-right: 10px; 
  }
}