.students{
  margin: 0 auto;
}
input {
  margin: 0 auto;
  width: 50%; 
}
.students__listbox{
  display: flex;
  width: 75vw;
  height: 50vh;
  background-color: white;
  opacity: 0.9;
  margin-top: 10px;
  
  
  &__block {
    width: 100%;
    height: auto;
    border-left: 1px solid grey;
    &__row{
      text-align: left;
      padding: 2px;
      border-bottom: 1px solid grey;
      &__image{
        clear: both;
        display: inline-block;
        .student_image{
        width: 40px;
        height: 40px;
        }
      }
      &__name{
        height: 40px; 
        font-family: 'Courier New';
        font-weight: bold;
        display: inline-block;
        font-size: 30px;
        color: blue;
        padding-left: 5px;
      }
    }
  }

}